/* reset css */

body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
    outline: 0px !important;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

button[disabled] {
    pointer-events: none;
}

input {
    padding: 0;
}

input:required {
    box-shadow: none;
}

input:invalid {
    box-shadow: none;
}

 ::-webkit-scrollbar {
    /* make scrollbar transparent */
    width: 0px;
    background: transparent;
}

// color
$background:#FFFFFF;
$footer-background: #E5E5E5;
$footer-link: #808080;
$primary-black:#2A2A2A;
$stepper-circle: #333333;
$stepper-default: #AFB1BD;
$stepper-connect-line: #F0F0F5;
$form-title: #808080;
$form-border: #4A4A4A;
$form-input:#808080;
$form-divider:#E6E6EB;
$border-default: #F0F0F5; //cart,circle
$btn-color:#F67599;
$sizes: ( 25: 25%, 50: 50%, 75: 75%, 100: 100%);
@mixin getStepNums($num) {
    @for $i from 1 through $num {
        &:nth-child(#{$i}) .circle-container::after {
            content: "#{$i}"
        }
    }
}

;
@mixin flex-group($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

;
@each $prop,
$abbrev in (width: w, height: h) {
    @each $num,
    $val in $sizes {
        .#{$abbrev}-#{$num} {
            #{$prop}: $val;
        }
    }
}

$spacer: 1rem;
$spacers: ( 0: 0, 1: ( $spacer * 0.25), 2: ( $spacer * 0.5), 3: ( $spacer * 0.75), 4: $spacer, 5: ( $spacer * 1.25), 6: ( $spacer * 1.5), 7: ( $spacer * 1.75), 8: ( $spacer * 2));
@each $prop,
$abbrev in (margin: m, padding: p) {
    @each $num,
    $val in $spacers {
        .#{$abbrev}-#{$num} {
            #{$prop}: $val;
        }
        .#{$abbrev}t-#{$num} {
            #{$prop}-top: $val;
        }
        .#{$abbrev}r-#{$num} {
            #{$prop}-right: $val;
        }
        .#{$abbrev}b-#{$num} {
            #{$prop}-bottom: $val;
        }
        .#{$abbrev}l-#{$num} {
            #{$prop}-left: $val;
        }
        .#{$abbrev}x-#{$num} {
            #{$prop}-left: $val;
            #{$prop}-right: $val;
        }
        .#{$abbrev}y-#{$num} {
            #{$prop}-top: $val;
            #{$prop}-bottom: $val;
        }
    }
}

.d-none {
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}

html,
body {
    height: 100%;
    background-color: $background;
    font-family: "Noto Sans TC";
    font-size: 16px;
    font-weight: 400;
    color: $primary-black;
}

// mobile
.container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 56px;
}

nav {
    height: 100%;
    position: relative;
    .logo-img {
        display: inline-block;
        width: 135px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $background;
        z-index: 2;
    }
    .hamburger-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 1.5rem;
        height: 1.5rem;
    }
    .hamburger-input {
        display: none;
        &:checked~.nav-list {
            display: block;
        }
    }
    .nav-list {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        text-align: center;
        background-color: $background;
        z-index: 1;
        .nav-item {
            width: 100%;
            padding: 1.5rem;
            border-bottom: 1px solid rgba($primary-black, 0.1);
            .nav-link {
                font-weight: 500;
                color: $primary-black;
            }
        }
        .nav-icons {
            .nav-icon-img {
                display: inline-block;
                width: 1.5rem;
                height: 1.5rem;
                margin: 1.5rem 1rem;
            }
        }
    }
}

main {
    .title {
        font-size: 24px;
        font-weight: 700;
        padding: 1rem 0;
        color: $primary-black;
    }
}

.stepper-panel {
    display: flex;
    .step {
        flex: 1;
        position: relative;
        @include getStepNums(3);
        &__one {
            @include flex-group(row, start, center)
        }
        &__two {
            @include flex-group(row, center, center)
        }
        &__three {
            @include flex-group(row, end, center)
        }
        .label-container {
            display: none;
            color: $stepper-default;
        }
        .circle-container {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: 1px solid $stepper-default;
            color: $stepper-default;
            @include flex-group(row, center, center); // 內部數字
        }
        .connect-line {
            display: block;
            height: 2px;
            background-color: $stepper-connect-line;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            &__one {
                left: 50%;
                right: -10%;
            }
            &__two {
                left: 90%;
                right: -50%;
            }
        }
        &.checked,
        &.active {
            .circle-container {
                border: 1px solid $stepper-circle;
            }
            .connect-line {
                background-color: $primary-black;
            }
            .label-container {
                color: $primary-black;
            }
        }
        &.checked {
            .circle-container {
                background-color: $stepper-circle;
                color: $background;
            }
            .circle-container::after {
                content: "\2714"
            }
        }
        &.active {
            .circle-container {
                color: $primary-black;
            }
        }
    }
}

.form-panel {
    .form-title {
        display: block;
        font-weight: 700;
        font-size: 12px;
        margin-bottom: 0.5rem;
        color: $form-input;
    }
    input,
    select {
        width: 100%;
        border: 1px solid $form-border;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 400;
        padding: 0.8rem 1rem;
        &[type="radio"] {
            //取消預設
            -webkit-appearance: none;
            border-radius: 50%;
            cursor: pointer;
        }
    }
    select {
        -webkit-appearance: none;
        cursor: pointer;
        background-color: transparent;
        &:invalid {
            color: #747474;
        }
    }
    .select-wrapper {
        position: relative;
        z-index: 0;
        &::after {
            content: "";
            border-style: solid;
            border-width: 6px 5px 0 5px;
            border-color: $primary-black transparent transparent transparent;
            position: absolute;
            top: 50%;
            right: 8px;
            transform: translateY(-50%);
            z-index: -1;
        }
    }
}

//form part
.part {
    .part-content__destination {
        display: grid;
        grid-template-columns: 40% 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 1.5rem;
        grid-template-areas: "title name" "phone phone" "email email" "region region" "address address";
        .form-row {
            &__title {
                grid-area: title;
            }
            &__name {
                grid-area: name;
            }
            &__phone {
                grid-area: phone;
            }
            &__email {
                grid-area: email;
            }
            &__region {
                grid-area: region;
            }
            &__address {
                grid-area: address;
            }
        }
    }
    .part-content__shipping {
        .shipping-selection {
            width: 100%;
            height: 64px;
            display: flex;
            border: 1px solid $border-default;
            border-radius: 4px;
            padding: 1.2rem;
            position: relative;
            font-weight: 400;
            cursor: pointer;
            &__input {
                padding: unset;
                width: 20px;
                height: 20px;
                border: 1px solid $primary-black;
            }
            &__method {
                position: absolute;
                top: 0.8rem;
                left: 75px;
                font-size: 14px;
                &::after {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    font-size: 12px;
                    font-weight: 400;
                    white-space: nowrap;
                }
                &__original::after {
                    content: "約3~7個工作天";
                }
                &__express::after {
                    content: "48小時內送達";
                }
            }
            &__price {
                position: absolute;
                top: 0.8rem;
                right: 2rem;
                font-size: 12px;
            }
            &.checked,
            &:hover {
                border: 1px solid $primary-black;
                .shipping-selection__input {
                    box-shadow: inset 0 0 0 5px $primary-black;
                }
            }
            &__original {
                margin-bottom: 1.5rem;
            }
        }
    }
    .part-content__payment {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1.5rem;
        grid-template-areas: "cardholder cardholder" "cardNumber cardNumber" "expiration code";
        .form-row {
            &__cardholder {
                grid-area: cardholder;
            }
            &__cardNumber {
                grid-area: cardNumber;
            }
            &__expiration {
                grid-area: expiration;
            }
            &__code {
                grid-area: code;
            }
        }
    }
}

.cart-container {
    width: 100%;
    margin: 2rem 0;
    padding: 1rem 1rem 0 1rem;
    border: 1px solid $border-default;
    border-radius: 0.5rem;
    .cart-title {
        display: none;
    }
    .cart-delivery,
    .cart-amount {
        border-top: 1px solid $border-default;
        padding: 1rem 0.5rem 1rem 0;
        @include flex-group(row, space-between, center);
        &-title {
            font-weight: 400;
        }
        &-price {
            font-weight: 700;
        }
    }
}

.product-card {
    height: 100%;
    margin-bottom: 1rem;
    @include flex-group(row, space-between, center);
    &-img img {
        width: 100px;
        height: 100px;
    }
    &-content {
        width: 100%;
        height: 100px; //why?100% error
        display: flex;
        @include flex-group(column, space-between, end);
        .product-quantity {
            @include flex-group(row, space-between, center);
            &-circle {
                width: 26px;
                height: 26px;
                border-radius: 50%;
                background-color: $border-default;
                text-align: center;
                font-weight: bold;
                cursor: pointer;
            }
            &-num {
                margin: 0 1.8rem;
            }
        }
        .product-price {
            font-weight: 700;
        }
    }
}

.btn-panel {
    .btn-wrapper {
        border-top: 1px solid $form-divider;
        padding: 3rem 0;
        @include flex-group(row, space-between, center);
        .btn-previous,
        .btn-next {
            width: 100%;
            font-size: 14px;
            font-weight: 400;
        }
        .btn-previous {
            text-align: start;
            cursor: unset;
            &:disabled {
                display: none;
            }
            .btn-previous-text {
                cursor: pointer;
                &::before {
                    content: "\2190";
                    margin-right: 0.6rem;
                }
            }
        }
        .btn-next {
            height: 3rem;
            border-radius: 0.5rem;
            background: $btn-color;
            color: $background;
            &::after {
                content: "\2192";
                margin-left: 0.6rem;
            }
        }
    }
}

footer {
    display: none;
}

@media screen and (min-width: 376px) {
    .container {
        width: 80%;
    }
    header {
        height: 60px;
    }
    nav {
        .hamburger-icon {
            display: none;
        }
        .nav-list {
            all: unset;
            width: 50%;
            height: 100%;
            overflow: hidden; //有沒有個好的效果？
            @include flex-group(row, start, center);
            .nav-item {
                all: unset;
                margin-right: 2rem;
                white-space: nowrap;
            }
            .nav-icons {
                position: absolute;
                right: 0;
            }
        }
    }
    main {
        .main-title {
            font-size: 32px;
        }
        .main-wrapper {
            margin: 3rem 0;
            display: grid;
            grid-template-columns: 50% 10% 40%;
            grid-template-areas: "main-title main-title main-title""stepper-panel . cart-panel" "form-panel . cart-panel" "btn-panel . cart-panel";
        }
        .main-title {
            grid-area: main-title;
        }
        .stepper-panel {
            grid-area: stepper-panel;
        }
        .form-panel {
            grid-area: form-panel;
        }
        .cart-panel {
            grid-area: cart-panel;
        }
        .btn-panel {
            grid-area: btn-panel;
        }
    }
    .stepper-panel {
        margin: 1.5rem 0;
        .step {
            .circle-container {
                position: static;
                width: 24px;
                height: 24px;
            }
            .label-container {
                display: block;
                margin-left: 0.5rem;
            }
            .connect-line {
                &__one {
                    left: 70%;
                }
                &__two {
                    right: -30%;
                }
            }
        }
    }
    .part {
        width: 100%;
        height: 330px;
        .part-content__destination {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: "title title name name name name" "phone phone phone email  email email" "region region address address address address"
        }
        .part-content__shipping {
            .shipping-selection {
                width: 80%;
            }
        }
        .part-content__payment {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: "cardholder cardholder cardholder cardholder . ." "cardNumber cardNumber cardNumber cardNumber . ." "expiration expiration expiration code code code";
        }
    }
    .cart-container {
        margin: 0;
        padding: 2rem 1.5rem;
        padding-bottom: 0;
        .cart-title {
            display: block;
            font-weight: 700;
            font-size: 18px;
            color: $primary-black;
        }
        .cart-delivery,
        .cart-amount {
            padding: 1rem 0.5rem 2rem 0;
        }
    }
    .btn-panel {
        margin-top: 2rem;
        .btn-wrapper {
            position: relative;
            .btn-previous {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
            .btn-next {
                width: 174px;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
        }
    }
    .product-card {
        margin: 2rem 0;
        position: relative;
        &-content {
            margin-left: 1.2rem;
            @include flex-group(column, start, start);
            .product-quantity {
                margin-top: 1rem;
            }
            .product-price {
                position: absolute;
                top: 0;
                right: 0.5rem;
            }
        }
    }
    footer {
        display: block;
        width: 100%;
        height: 275px;
        padding: 3rem 0;
        background-color: $footer-background;
        .footer-wrapper {
            height: 100%;
            display: flex;
            @include flex-group(row, space-between, start)
        }
        .footer-section {
            &.logo {
                height: 100%;
                @include flex-group(row, center, center);
                .logo-img {
                    width: 175px;
                }
            }
        }
        .footer-title {
            font-weight: 700;
            font-size: 24px;
            color: $primary-black;
            margin: 1rem 0;
        }
        .footer-item,
        .footer-item a {
            color: $form-title;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.8rem;
        }
        .footer-follow-icon {
            width: 24px;
            height: 24px;
            margin-right: 0.5rem;
        }
    }
}